<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>labels</th>
    </tr>
  </thead>
  <tbody>
    @if(users$ |async; as users) { @for(user of users.records; track
    user.elementId) {
    <tr>
      <td>{{ user.properties.name }}</td>
      <td>{{ user.labels }}</td>
    </tr>
    } }
  </tbody>
</table>

<button (click)="createRelationShip()">Create createRelationShip</button>

<input type="text" name="name" [formControl]="name" />
<button (click)="createUser()">createUser</button>
